<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="ko">
<body style="margin: 60px 0;">
    <div style="margin-bottom: 20px; background-color: #94B49F;">
        <img src="https://i.ibb.co/k9Vk1q6/logo.png" alt="원두잇" style="width: 160px;"/>
    </div>
<div style="border: 10px solid #f2f2f2; padding: 50px 20px;">
    <div style="font-size: 40px; font-weight: 700; margin-bottom: 50px;">이메일 인증번호 안내</div>
    <div style="font-size: 14px; margin-bottom: 40px; line-height: 1.5; letter-spacing: -1px;">
        본 메일은 원두잇 회원가입을 위한 이메일 인증입니다.<br/>
        아래의 [이메일 인증번호]를 입력하여 본인확인을 해주시기 바랍니다.
    </div>

    <div th:text="${code}" style="border: 1px solid #eeeeee; padding: 48px;font-size: 18px; font-weight: 700; background-color: #fbfbfb; text-align: center;"></div>

    <div style="font-size: 14px; margin-top: 40px; line-height: 1.5; letter-spacing: -1px;">
        감사합니다.<br/>
        원두잇 드림
    </div>
</div>
</body>
</html>